@import '../../assets/colors.scss';
.Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-blue;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid white;
  padding: 0 20px;
  height: 100%;
}
.Toggle {
  cursor: pointer;
}
.Title {
  font-size: 2rem;
}
.LogIn {
  cursor: pointer;
}
.Login a {
  color: white;
  text-decoration: none;
}