.Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3b1919;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid white;
  padding: 0 20px;
  height: 100%;
}
.Toggle {

}
.Title {
  font-size: 2rem;
}
.LogIn {

}